﻿@model WebAPITask2.Models.Letter

@{
    ViewBag.Title = "Index";
}

<h2>Send emai:</h2>

   @using (Html.BeginForm("","api/mail"))
   {
        <table id="fff">
            <tr>
                <td><p>Please enter the email address: </p></td>
                <td><input type="email" name="To" /> </td>
            </tr>
            <tr>
                <td><p>Subject :</p></td>
                <td><input type="text" name="Subject" /> </td>
            </tr>
            <tr>
                <td><p>Body :</p></td>
                <td><input type="text" name="Body" /> </td>
            </tr>
            <tr>
                <td><input type="submit" value="Send" /> </td>
                <td></td>
            </tr>
        </table>
    }

<h2>Send SMS:</h2>

@using (Html.BeginForm("", "api/SMS"))
{
    <table id="fff">
        <tr>
            <td><p>Please enter the email address: </p></td>
            <td><input type="email" name="From" /> </td>
        </tr>
        <tr>
            <td><p>Phone :</p></td>
            <td><input type="text" name="PhoneNumber" /> </td>
        </tr>
        <tr>
            <td><p>Body :</p></td>
            <td><input type="text" name="Body" /> </td>
        </tr>
        <tr>
            <td>Password :</td>
            <td><input type="password" value="Password" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Send" /> </td>
            <td></td>
        </tr>
    </table>
}



